.git
.github
**/__pycache__
**/.pytest_cache
**/*.pyc
.ruff_cache
node_modules
frontend/node_modules
*.sqlite3
services/auth-service/db.sqlite3
services/auth-service/staticfiles
services/company-service/db.sqlite3
services/company-service/staticfiles
services/contract-service/db.sqlite3
services/contract-service/staticfiles
services/space-service/db.sqlite3
services/space-service/staticfiles
